* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

.back-to-top {
  color: white;
  position: fixed;
  bottom: 30px;
  width: 5%;
  right: 2%;
  background-color: #2800ba;
  padding: 15px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 18px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: 0.4s ease;
}

.back-to-top.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.back-to-top:hover {
  transform: translateY(0) scale(1.1);
}

.help {
  display: flex;
  position: fixed;
  position: relative;
  top: 80%;
  left: 2%;
}

.need {
  position: absolute;
  background-color: rgb(226, 226, 226);
  margin-left: 50px;
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  font-size: 0.7rem;
  top: 14px;
}

.whats-app {
  width: 60px;
  height: 60px;
  position: relative;
  position: fixed;
  padding: 15px 15px;
  background-color: green;
  border-radius: 100%;
  top: 80%;
  left: 2%;
}

.whats-app img {
  width: 30px;
}

@media (max-width:700px) {
    .help{
       display: none;
    }
    .back-to-top{
        display: none;
    }
}

nav {
  width: 80%;
  margin: auto;
  display: flex;
  position: relative;
}

.navi-bar {
  width: 100%;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
  position: fixed;
}

.nav-items {
  width: 100%;
  display: inline-flex;
  color: black;
}

.nav-items ul {
  display: flex;
  gap: 30px;
}

.nav-items li {
  position: relative;
  margin: auto;
  font-weight: 600;
  gap: 20px;
  font-size: 0.9rem;
  color: #081f89;
}

.material-symbols-outlined {
  position: absolute;
  font-size: 1.2rem;
}

.burger .material-symbols-outlined {
  font-size: 2rem;
}

.nav-logo img {
  width: 28%;
}

.burger {
  position: absolute;
  position: fixed;
  color: rgb(0, 102, 153);
  top: 2%;
  left: 80%;
  display: none;
}

.about-drop:hover .drop-box {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.about-drop:hover .drop-box2 {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.about-drop:hover .drop-box3 {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.about-drop:hover .drop-box4 {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.about-drop-content li {
  position: relative;
}

.about-drop-content li:hover .hover-box {
  display: block;
}

.hover-box {
  display: none;
  background: #1b1b1b;
  width: 100px;
  height: 50px;
  position: absolute;
  left: 100%;
  top: 0;
}

.drop-box {
  position: absolute;
  height: 190px;
  width: 230px;
  background-color: rgba(255, 255, 255, 0.489);
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  transition: all 0.4s ease;
}

.about-drop-content {
  margin-top: 33px;
  border-top: 3px solid #0010eb;
}

.about-drop-content ul {
  display: block;
  padding: 20px;
}

.about-drop-content ul li,
a {
  color: black;
  text-decoration: none;
  font-size: 0.9rem;
  margin: 20px;
}

.drop-box2 {
  text-align: left;
  position: absolute;
  height: 290px;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.489);
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  transition: all 0.4s ease;
}

.about-drop-content2 {
  margin-top: 33px;
  border-top: 3px solid #0010eb;
}

.about-drop-content2 ul {
  display: block;
  padding: 10px;
}

.about-drop-content2 ul li,
a {
  text-align: left;
  width: 75%;
  color: black;
  text-decoration: none;
  font-size: 0.9rem;
}

.drop-box3 {
  text-align: left;
  position: absolute;
  height: 320px;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.489);
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  transition: all 0.4s ease;
}

.about-drop-content3 {
  margin-top: 33px;
  border-top: 3px solid #0010eb;
}

.about-drop-content3 ul {
  display: block;
  padding: 10px;
}

.about-drop-content3 ul li,
a {
  text-align: left;
  width: 75%;
  color: black;
  text-decoration: none;
  font-size: 0.9rem;
}

.drop-box4 {
  text-align: left;
  position: absolute;
  height: 150px;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.489);
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  transition: all 0.4s ease;
}

.about-drop-content4 {
  margin-top: 33px;
  border-top: 3px solid #0010eb;
}

.about-drop-content4 ul {
  display: block;
  padding: 10px;
}

.about-drop-content4 ul li,
a {
  text-align: left;
  width: 75%;
  color: black;
  text-decoration: none;
  font-size: 0.9rem;
}

@media (max-width: 1190px) {
  .nav-items {
    display: none;
  }
  .burger {
    display: block;
    margin-bottom: 80px;
  }

  .nav-logo img {
    width: 15%;
  }
}

.hero-section1 {
  width: 100%;
  background-image:
    linear-gradient(#917985, #0003666d), url(Images/Exec-class-scaled.png);
  background-size: cover;
  height: 700px;
}

.hero-section-txt1 {
  padding-top: 150px;
  width: 80%;
  margin: auto;
}

.hero-section-txt1 h1 {
  padding-top: 100px;
  font-size: 4rem;
  font-weight: 600;
  color: white;
  width: 20%;
  line-height: 65px;
}

.hero-section-txt1 p {
  margin-top: 20px;
  color: white;
}

.apply-btn {
  margin-top: 25px;
}

.apply-now {
  border: 2px solid white;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
}

.txt-pix-content1 {
  width: 80%;
  padding-top: 50px;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 50px;
}

.class-img {
  width: 100%;
  border-radius: 40px;
  margin-right: 90px;
}

.class-img img {
  width: 100%;
  border-left: 10px solid rgb(255, 153, 0);
  border-radius: 20px;
  box-shadow:
    -24px 24px 52px #989898,
    24px -24px 52px #ffffff;
}

.note1 {
  margin-left: 40px;
}

.note1 p {
  color: rgb(93, 93, 93);
  line-height: 25px;
  text-align: justify;
  font-size: 0.9rem;
  width: 85%;
}

.note2 {
  display: flex;
}

.note2 p {
  color: rgb(93, 93, 93);
  line-height: 25px;
  text-align: justify;
  font-size: 0.9rem;
  width: 76%;
}

.note2-img img {
  width: 80%;
  border-left: 10px solid #000442;
  border-radius: 20px;
  box-shadow:
    -24px 24px 52px #989898,
    24px -24px 52px #ffffff;
}

.note2-img {
  margin-top: 20px;
}

.para1 {
  width: 100%;
}

@media (max-width: 980px) {
  .hero-section-txt1 h1 {
    width: 100%;
  }
  .txt-pix-content1 {
    display: block;
  }
  .note1 p {
    width: 100%;
    margin-top: 80px;
    margin: auto;
  }
  .note2 p {
    width: 100%;
  }

  .class-img img {
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
  }

  .txt-pix-content1 {
    margin: auto;
  }

  .note2-img img {
    width: 100%;
    margin-bottom: 60px;
    margin-top: 40px;
  }

  .note1 {
    width: 100%;
    margin: 0;
  }
  .note2 {
    width: 100%;
  }
}

.ready {
  width: 100%;
  height: 250px;
  background-color: #000442;
}

.ready-content {
  display: flex;
  width: 80%;
  margin: auto;
  padding-top: 50px;
}

.ready-content h1 {
  color: white;
  font-size: 2.1rem;
}

.btn-rdy-apply {
  padding-left: 70px;
}

.yw-btn-app {
  color: white;
  font-size: 1.4rem;
  text-decoration: none;
  border-radius: 6px;
  background-color: #ff9900;
  box-shadow:
    -24px 24px 52px #000000,
    24px -24px 52px #1b1b1b;
  padding: 25px;
}

@media (max-width: 1170px) {
  .btn-rdy-apply {
    padding-top: 50px;
  }

  .ready-content {
    display: block;
    margin: auto;
  }
}

.courses {
  background-color: #f5f5f5;
  padding-bottom: 50px;
}

.available-courses {
  width: 80%;
  margin: auto;
  text-align: center;
}

.card-1 {
  width: 46%;
  background-color: #f5f5f5;
  box-shadow:
    -19px 19px 38px #c7c7c7,
    19px -19px 38px #f9f9f9;
  height: auto;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.courses-content {
  width: 100%;
  display: flex;
}

.place-img img {
  width: 100%;
  border: 10px solid #f5f5f5;
}

.card-txt {
  text-align: justify;
  width: 80%;
  line-height: 24px;
  margin: auto;
  padding-bottom: 50px;
}

.card-txt h3 {
  text-align: center;
  width: 75%;
  margin: auto;
}

.head-txt {
  padding-top: 100px;
}

.head-txt h1 {
  font-size: 2.5rem;
  color: rgb(0, 4, 66);
}

.card-txt h3 {
  color: rgb(0, 8, 92);
}

@media (max-width: 980px) {
  .courses-content {
    display: block;
  }

  .card-1 {
    width: 100%;
  }
}

.duration {
  width: 80%;
  margin: auto;
}

.exce-stud img {
  width: 40%;
}

.exce-stud {
  margin-top: 80px;
  display: flex;
  gap: 60px;
}

.content-wrapper {
  padding-top: 50px;
}

.container {
  background-color: rgb(245, 245, 245);
  padding: 20px;
  width: 500px;
  margin-bottom: 40px;
}

@media (max-width: 970px) {
  .exce-stud {
    display: block;
  }

  .exce-stud img {
    width: 100%;
  }

  .container {
    margin-top: 40px;
    width: 100%;
  }
}

.table {
  padding-top: 150px;
  width: 80%;
  margin: auto;
}

.table-data {
  gap: 45px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.table1 {
  width: 80%;
}

.socials {
  width: 100%;
  margin-bottom: 10px;
}

.table1 p {
  color: rgb(51, 51, 51);
  font-weight: 550;
  padding-bottom: 13px;
}

.socials a i {
  color: rgb(51, 51, 51);
  font-size: 1rem;
  margin: 10px;
}

.table1 a {
  text-decoration: none;
  font-weight: 400;
  color: rgb(46, 164, 242);
}
.table1 h5 {
  font-size: 1.5rem;
  color: #081f89;
}

.table2 {
  width: 100%;
}

.table2 a {
  text-decoration: none;
  color: rgb(51, 51, 51);
}

.table2 p {
  font-size: 0.9rem;
  margin-top: 10px;
  margin-bottom: 20px;
}

.locate {
  color: rgb(46, 164, 242);
}

@media (max-width: 900px) {
  .table-data {
    grid-template-columns: auto auto;
  }
}

.foot {
  width: 100%;
  background-color: #000442;
}

.foot p {
  width: 80%;
  padding: 15px;
  margin: auto;
  color: white;
}

@media (max-width: 430px) {
  .table-data {
    grid-template-columns: auto;
  }

  .yw-btn-app {
    padding: 10px;
  }

  .btn-rdy-apply {
    margin-top: 0;
    padding-top: 15px;
  }

  .hero-section-txt1 h1 {
    font-size: 2.3rem;
    width: 30%;
    line-height: 30px;
  }
}

@media (max-width: 301px) {
  .ready-content {
    width: 80%;
    margin: auto;
  }
  .ready-content h1 {
    font-size: 1.58rem;
  }
  .yw-btn-app {
    font-size: 0.8rem;
    padding: 5px;
  }

  .btn-rdy-apply {
    padding-left: 0px;
  }
}

@media (max-width: 275px) {
  .whats-app {
    width: 5%;
  }

  .need {
    width: 50px;
    padding: 5px;
  }
}
